
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";


*{
    font-family: Outfit;
}


/* to show bottom bar only below the selected tab */
.active hr{
    @apply block
}


/* to hide scrollbar from speciality menu */
::-webkit-scrollbar{
    @apply hidden
}



@media (max-width:740px){
    .active p{
        @apply text-white bg-blue-700
    }
}